<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">
<title>Page Title</title>

</head>

<body>

<h1> <font color="#000099">Cadastro de Herois</font><h1>

<font color="#864086">

<form method= "get" action="/herovillain/salvar">

Nome: <input type="text" name="nome"/><br>
Classe: <input type="text" name="classe"/><br>
Categoria: <input type="text" name="ranking"/><br>
Nivel: <input type="text" name="nivel"/><br>
Poder: <input type="text" name="poder"/>
<br>

<br>
<input type="submit" value="Cadastrar" />
</form>
</body>

</html>
