<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">
<title>CadastroHerois&Viloes</title>

</head>

<body>

<h1> <font color="#000099">Cadastro de Herois</font><h1>

<font color="#864086">

<form method= "post" action="/herovillain/salvar" th:object="${pessoa}">
<input type="hidden" th:field="*{codigo}" />

Nome: <input type="text" th:field="*{nome}"/><br>
Classe: <input type="text" th:field="*{classe}"/><br>
Ranking: <input type="text" th:field="*{ranking}"/><br>
Categoria: <input type="text" th:field="*{categoria}"/>
<br>

<br>
<input type="submit" value="Cadastrar" />
</form>
</body>

</html>
